* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

/* swiper  */

.swiper {
    background-image: url(images/bg2task.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background:red; */
    /* background-image: url(images/bg2task.jpg); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

.swiper-slide h1 {
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;

}

.swiper-slide p {
    width: 780px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Noto Sans JP', sans-serif;

}

.button {
    width: 30%;
    height: 60px;
    /* background-color: rgb(234, 250, 112); */
}

.button button {
    width: 200px;
    height: 50px;
    border-color: #fff;
    background-color: #fff;
    border-radius: 45px;
    color: #fff;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;

}

#button1 {
    background-color: rgb(39, 100, 241);
}

#button2 {
    background-color: transparent;
    margin-left: 20px;
}

.navbar {
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 251, 251, 0.1);

}

.part1 {
    width: 190px;
    height: 60px;
    display: flex;
    align-items: center;
    /* background-color: rgb(255, 240, 240); */
}

.call {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(39, 100, 241);
    position: relative;

}

.part1 i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #ffff;
}

.Inquires {
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
    color: #ffff;
}

pre {
    font-family: 'Roboto', sans-serif;
}

.part2 {
    width: 180px;
    height: 60px;
    font-size: 19px;
    /* background-color: rgb(237, 125, 13); */
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    color: #ffff;


}

.palm {
    width: 60px;
}

.part3 {
    width: 100px;
    height: 60px;
    /* background-color: rgb(43, 230, 230); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(39, 100, 241);
    border: 1px solid #ffff;
    position: relative;
}

.search i {
    font-size: 20px;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    width: 50px;
    height: 30px;
    /* background-color: yellow; */



}

.line1 {
    width: 30px;
    height: 4px;
    background: #ffff;
    margin-top: 6px;
    margin-left: 20px;
    margin-bottom: 3px;
    border-radius: 10px;

}

.line2 {
    width: 37px;
    height: 4px;
    background: #ffff;
    margin-top: 3px;
    margin-left: 13px;
    border-radius: 10px;
}

.line3 {
    width: 30px;
    height: 4px;
    background: #ffff;
    margin-left: 20px;
    margin-top: 3px;
    border-radius: 10px;

}

.navbar2 {
    width: 100%;
    height: 60px;
    /* background-color: rgb(160, 231, 46); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
}

.part4 {
    width: 120px;
    height: 60px;
    /* background-color: azure; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 180px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: black; */
    border: 1px solid #ffff;
    position: relative;

}

.circle i {
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: black; */
    border: 1px solid #ffff;
    position: relative;
}

.circle2 i {
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: black; */
    border: 1px solid #ffff;
    position: relative;
}

.circle3 i {
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.part5 {
    width: 750px;
    height: 60px;
    /* background-color: azure; */
}

.part5 ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;

}

li span {
    color: rgb(39, 100, 241);
}

select {
    background-color: transparent;
    color: #ffff;
    border: none;
}

.part6 {
    width: 150px;
    height: 60px;
    /* background-color: azure; */
    margin-right: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part6 button {
    width: 90px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 25px;
    background-color: rgb(39, 100, 241);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #ffff;
}
/* responsive for 320px -480px */
/* @media only screen and (max-width: 480px) {
    .swiper-slide h1 {
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
    
    }
  
  
} */

/* responsive for 320px -480px */

/* second page */
.two {
    width: 100%;
    height: 100%;
    /* background-color: rgb(25, 25, 154); */
    /* position: relative; */

}

.two-one {
    width: 60%;
    height: 40%;
    background-color: #fff;
    float: inline-end;
    margin-bottom: 10px;
    margin-left: 300px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.two-one h6 {
    margin-left: 380px;
    position: absolute;
    top: 45%;
    font-size: 15px;
    color: rgb(39, 100, 241);
}

.two-one h1 {
    font-size: 40px;
    position: absolute;
    top: 55%;
    font-weight: 750;
    margin-left: 200px;
}

.two-one p {
    width: 80%;
    position: absolute;
    top: 75%;
    margin-left: 100px;
    color: rgba(0, 0, 0, 0.61);
}

.two-two {
    width: 70%;
    height: 50%;
    background-color: #fff;
    margin-left: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box1 {
    width: 250px;
    height: 300px;
    background-image: url(images/san\ miguel.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    position: relative;
}

.star {
    width: 100px;
    height: 25px;
    background-color: rgb(39, 100, 241);
    position: absolute;
    top: 55%;
    right: 20%;
    z-index: 999;
    border-radius: 40px;


}

.star i {
    color: #fff;
    font-size: 15px;

}

.desc1 {
    width: 195px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    left: 10%;
    font-family: 'Roboto', sans-serif;
}

.desc1 h6 {
    font-size: 10px;
    color: rgb(39, 100, 241);
    margin-left: 15px;
    margin-top: 20px;
}

.desc1 h2 {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
}

.desc1 p {
    font-size: 11px;
    margin-left: 10px;
    margin-top: 5px;
}

.box2 {
    width: 250px;
    height: 300px;

    border-radius: 25px;
    position: relative;
    background-image: url(images/burj\ khalifa.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box3 {
    width: 250px;
    height: 300px;
    background-image: url(images/kyoto.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    position: relative;
}

.page2-button {
    width: 180px;
    height: 35px;
    border-radius: 40px;
    border: none;
    position: absolute;
    left: 44%;
    background-color: rgb(39, 100, 241);
    color: #fff;
}

/* second page end */

/* third page start */

.three {
    width: 100%;
    height: 130%;
    /* background-color: bisque; */
}

.three-one {
    width: 60%;
    height: 30%;
    /* background-color: #d70808; */
    /* float: inline-end; */
    margin-bottom: 10px;
    margin-left: 300px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.three-one h6 {
    margin-left: 380px;
    position: absolute;
    top: 45%;
    font-size: 15px;
    color: rgb(39, 100, 241);
}

.three-one h1 {
    font-size: 40px;
    position: absolute;
    top: 55%;
    font-weight: 750;
    margin-left: 200px;
}

.three-one p {
    width: 80%;
    position: absolute;
    top: 75%;
    margin-left: 100px;
    color: rgba(0, 0, 0, 0.61);
}

.three-two {
    width: 65%;
    height: 65%;
    background-color: #fff;
    margin-left: 260px;
    position: relative;
}

.img1 {
    width: 250px;
    height: 250px;
    /* background-color: red; */
    border-radius: 20px;
    background-image: url(images/frnd1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    width: 250px;
    height: 250px;
    background-image: url(images/rnd2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    top: 45%;
}

.img3 {
    width: 350px;
    height: 500px;
    background-image: url(images/frnd3.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 33%;
}

.img4 {
    width: 250px;
    height: 250px;
    background-image: url(images/frnd4.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    top: 45%;
    right: 0%;
}

.img5 {
    width: 250px;
    height: 250px;
    background-image: url(images/frnd5.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    top: 0%;
    right: 0%;
}

/* third page end */




/* fourth page start*/
.four {
    width: 100%;
    height: 100%;

    /* background-color: rgb(20, 226, 96); */
}

.four-one {
    width: 60%;
    height: 30%;
    /* background-color: #d70808; */
    margin-bottom: 10px;
    margin-left: 300px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.four-one h6 {
    margin-left: 380px;
    position: absolute;
    top: 45%;
    font-size: 15px;
    color: rgb(39, 100, 241);
}

.four-one h1 {
    font-size: 40px;
    position: absolute;
    top: 55%;
    font-weight: 750;
    margin-left: 200px;
}

.four-one p {
    width: 80%;
    position: absolute;
    top: 75%;
    margin-left: 100px;
    color: rgba(0, 0, 0, 0.61);
}

.four-two {
    width: 75%;
    height: 50%;
    /* background-color: #fff; */
    margin-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.four-desc1 {
    width: 300px;
    height: 250px;
    /* background-color: violet; */
    border: 1px solid rgba(128, 128, 128, 0.402);
    box-shadow: 5px 5px rgba(128, 128, 128, 0.402);
    border-radius: 20px;
    position: relative;
}

.four-desc1 p {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-left: 15px;
}

.profile {
    width: 50px;
    height: 50px;
    background-image: url(images/p2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 15px;
}

.profile-desc {
    position: absolute;
    left: 25%;
    bottom: 20%;
    font-family: 'Roboto', sans-serif;
}

.profile-desc h6 {
    color: rgb(39, 100, 241);
}

.starin {
    width: 100px;
    height: 30px;
    /* background-color: rebeccapurple; */
    color: blue;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 999;

}

.four-desc2 {
    width: 300px;
    height: 250px;
    border: 1px solid rgba(128, 128, 128, 0.402);
    box-shadow: 5px 5px rgba(128, 128, 128, 0.402);
    border-radius: 20px;
    position: relative;
    border-radius: 20px;

}

.four-desc2 p {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-left: 15px;
}

.profile2 {
    width: 50px;
    height: 50px;
    background-image: url(images/p1.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 15px;
}

.four-desc3 {
    width: 300px;
    height: 250px;
    border: 1px solid rgba(128, 128, 128, 0.402);
    box-shadow: 5px 5px rgba(128, 128, 128, 0.402);
    border-radius: 20px;
    position: relative;
    border-radius: 20px;

}

.four-desc3 p {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-left: 15px;
}

.profile3 {
    width: 50px;
    height: 50px;
    background-image: url(images/p2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 15px;
}

.dots {
    width: 100px;
    height: 30px;
    /* background-color: rebeccapurple; */
    margin-left: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dot1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(180, 175, 175, 0.687);
}

.dot2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(180, 175, 175, 0.687);
}

.dot3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(39, 100, 241);
}

.dot4 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(180, 175, 175, 0.687);
}

/* fourth page end */